[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tensorflow-gpu = "==1.12.0"
keras = "==2.2.4"
pillow = "*"
yapf = "*"
pydot = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
keras-vis = {git = "https://github.com/raghakot/keras-vis.git",ref = "master"}
papermill = "*"
tabulate = "*"
svgutils = "*"
tensorflow = "==1.12.0"
efficientnet = "*"
keras-efficientnets = {git = "https://github.com/titu1994/keras-efficientnets.git"}

[dev-packages]

[requires]
python_version = "3.6"
