jupyter
tensorflow-gpu==1.14.0
keras==2.2.4
pillow
yapf
pydot
scikit-learn
seaborn
matplotlib==3.1.0
flask
flask-sqlalchemy
flask-migrate
git+git://github.com/raghakot/keras-vis#egg=keras-vis
papermill==0.19.1
tabulate
svgutils
efficientnet
git+git://github.com/titu1994/keras-efficientnets#egg=keras-efficientnets
